<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tourcoo.training">
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 摄像头相关权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 8.0开启安装应用权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".core.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_car_networking"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_car_networking"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.certificate.CertificationDetailsActivity"></activity>
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5466d4e008e6990e81f9dc1b536c708c" />

        <activity android:name=".ui.account.ChangePhoneActivity" />
        <activity
            android:name=".ui.MainTabActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".core.base.activity.QQTitleActivity" />
        <activity android:name=".ui.training.FreeStudyActivity" />
        <activity
            android:name=".ui.training.safe.online.TencentPlayVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.face.FaceRecognitionActivity" />
        <activity android:name=".ui.face.DialogFaceRecognitionActivity" />
        <activity android:name=".ui.account.register.IndustryRegisterActivity" />
        <activity android:name=".ui.account.register.DriverRegisterActivity" />
        <activity android:name=".ui.account.LoginActivity" />
        <activity android:name=".ui.account.MyAccountActivity" />
        <activity android:name=".ui.training.StudyMedalRecordActivity" />
        <activity android:name=".ui.exam.ExamActivity" />
        <activity android:name=".ui.training.professional.ProfessionalTrainingFragment" />
        <activity android:name=".ui.account.register.RecognizeIdCardActivity" />
        <activity
            android:name=".widget.idcardcamera.camera.CameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".ui.account.register.RecognizeResultActivity" />
        <activity android:name=".ui.account.FindPassActivity" />
        <activity android:name=".ui.pay.BuyNowActivity" />
        <activity android:name=".ui.account.register.SelectCompanyActivity" />
        <activity
            android:name=".widget.idcardcamera.camera.LicenseCameraActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.account.register.RecognizeLicenseActivity" />
        <activity android:name=".ui.account.PersonalInfoActivity" />
        <activity android:name=".ui.certificate.MyCertificationActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.training.safe.online.detail.student.StudentPlanDetailActivity" />
        <activity
            android:name=".ui.training.safe.online.PlayVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" /> <!-- wx pay -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".core.base.activity.WebViewActivity" />
        <activity android:name=".ui.face.OnLineFaceRecognitionActivity" />
        <activity android:name=".ui.training.safe.online.detail.teacher.TeacherPlanDetailActivity" />
        <activity android:name=".ui.training.safe.online.TrainFaceCertifyActivity" />
        <activity android:name=".ui.training.safe.online.detail.common.CommonPlanDetailActivity" />
        <activity android:name=".widget.aliplayer.activity.AliBaseActivity" />
        <activity
            android:name=".widget.aliplayer.activity.AliyunPlayerSkinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".widget.aliplayer.activity.AliyunPlayerSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.training.safe.online.aliyun.AliYunPlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.training.professional.ProfessionalTrainTwoTypeActivity" />
        <activity android:name=".ui.training.TrainingWebViewActivity" />
        <activity android:name=".ui.training.safe.online.HtmlBrowserActivity" />
        <activity android:name=".ui.home.news.NewsTabFragmentNew" />
        <activity android:name=".ui.training.professional.ProfessionalExamSelectActivity" />
        <activity android:name=".ui.training.RichWebViewActivity" />
        <activity android:name=".ui.guide.GuideActivity" />


    </application>

</manifest>